:root{
  --darkGreen: rgb(29, 71, 68);
  --lightGreen:rgba(82, 144, 82, 0.897);
}

.topbar{
  background-color: var(--darkGreen);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 1vw;
}

.logo-image{
  width: 20vw;
}

a{
  text-decoration: none;
}

.button{  
  font-size: 1.3vw;
  color:white;
  letter-spacing: 1px;
  border-color: transparent;
  background-color: transparent;
  padding: 0.5vw;
  transition: all 0.2s linear;
}

.navbar{
  padding: 0.3vw;
  background-color: var(--lightGreen);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.navbar-tabs{
  color: white;
  display: block;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  
}

.navbar-tabs:hover{
  color: rgb(14, 86, 14);
}

